Universe   = vanilla
Executable = sim-job-alice.sh

input                   = /dev/null
output                  = jobfiles/out/alice-job.out.$(Process)
error                   = jobfiles/err/alice-job.error.$(Process)
log                     = jobfiles/log/alice-job.log.$(Process)
transfer_output_remaps  = "Kinematics.root=jobfiles/data/Kinematics.root.$(Process)"
should_transfer_files   = YES
when_to_transfer_output = ON_EXIT
transfer_input_files    = fastGen.C, inputFor010.root, sim-job-alice.config, simrun.sh
Queue 10
